.z1 {
    text-align: center;
}

.button1 {
    border: 0px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(15, 61, 185);
    color: aliceblue;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20px;
}

.img {
    width: 225px;
}
    
.row {
    display: flex;
    flex-direction: row;
    background-color: rgb(73, 176, 207);
    justify-content: space-evenly;
 }